<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>Car Finder</title>
    <meta charset="utf-8">
    <meta name="description" content="AngularJs, html5, store, shopping, siteweb, cart">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>

    <!-- Our Website CSS Styles -->
    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/slide/component.css" rel="stylesheet" type="text/css" />
    
    <!-- Carouse Testimonial-->
    <link href="css/owl_carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/owl_carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <!-- End Carouse Testimonial-->
    <link href="css/minislide/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- End Mini Slider -->
    
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="css/main.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />

    <link href="trNgGrid-master/trNgGrid.css" rel="stylesheet" />
    <link href="Content/themes/base/spinner.css" rel="stylesheet" />
    <link href="css/carFinder.css" rel="stylesheet" />
    <style>
        .boxgallery > nav span::before
        , .boxgallery > nav span::after
        /*, .boxgallery > nav i::before*/
        /*, .boxgallery > nav i::after*/ 
        {
            display: none;
        }
        #CarFinderDB {
            /*background-image: url("img/audi-motorsport-race-cars-at-le_1920x1080_396-hd.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;
            background-attachment: fixed;
            z-index: -1;*/
                      
        }

        #full-screen-background-image {
          z-index: -999;
          min-height: 100%;
          min-width: 1024px;
          width: 100%;
          height: auto;
          position: fixed;
          top: 0;
          left: 0;
        }

        #wrapper {
          position: relative;
          width: 800px;
          min-height: 400px;
          margin: 100px auto;
          color: #333;
        }   
    </style>
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->

                <a class="navbar-brand" href="index.html"><img src="img/tlogo.png" alt="logo" /></a>

            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="/Help/Index">API</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <!-- Slider -->

    <div class="about2-top-img">
        <div class="effect-about2-over"></div><div id="particles-js"></div>
        <div class="container">
            <div class="col-lg-12">

                <h1 class="about2-top-title">Technologies <span class="color-txt">in</span> Website</h1>
            </div>
        </div>
    </div>


    <!--<div class="breadcrumb-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>-->
    <div id="CarFinderDB">

        <!--id="full-screen-background-image"-->
        <img src="img/audi-motorsport-race-cars-at-le_1920x1080_396-hd.jpg" 
            style="z-index: -999;
            min-height: 100%;
            min-width: 1024px;
            width: 100%;
            height: auto;"
            alt="Car Racing Photo" />
        
        <div style="z-index:999; 
            position:absolute; 
            top:400px;      
            width:14%; 
            padding: 0px;
            left:43%;
            margin: 5px;
            color:aliceblue;
            background: #16a7a7;
            opacity: 1;
             margin: 10px; text-align:center;"  >
             
            <!--width:100%; padding:400px;top: 200px; position:relative;  --> 
            <h2 style="border: 1px solid #09b1b9;
                margin: 5;                
                color: white;
                fill-opacity:inherit;">
            Scroll down for database</h2>
        </div>

        <!--<div id="wrapper">
            <p>Content goes here...</p>
        </div>-->
    </div>

   
    <div ng-app="carApp"  class="container" style="border:0; vertical-align:baseline;" ng-cloak>


            <div ng-controller="carCtrl as cars">


                <div class="row">
                    <div class="col-xs-2 margin-b-5">
                        <!--<p ng-hide="cars.selected.startYears" class="btn btn-lg btn-primary" style="width:100%">Make </p>-->
                        <!--<p  class="btn btn-lg btn-primary" style="width:100%">Year</p>-->
                        <button class="btn btn-lg btn-primary" name="startYears" ng-model="cars.selected.startYears"
                                ng-click="cars.changeSearchOrder(true)" ng-value="true" style="width:100%; font-size:large; font-weight:bold; text-decoration:underline">
                            Year
                        </button>



                        <select ng-show="cars.selected.startYears" id="yearSelect" ng-options="y for y in cars.years"
                                ng-model="cars.selected.year" ng-change="cars.getMakes()">
                            {{y}}
                        </select>
                        <select ng-hide="cars.selected.startYears" ng-options="y for y in cars.years"
                                ng-model="cars.selected.year" ng-change="cars.getModels()">
                            {{y}}
                        </select>
                    </div>

                    <div class="col-xs-2 margin-b-5">
                        <!--<p  class="btn btn-lg btn-primary" style="width:100%">Make</p>-->
                        <button class="btn btn-lg btn-primary " ng-model="cars.selected.startYears"
                                ng-click="cars.changeSearchOrder(false)" ng-value="false" style="width:100%; font-size:large; font-weight:bold; text-decoration:underline ">
                            Make
                        </button>

                        <select ng-show="cars.selected.startYears" id="makeSelect" ng-options="mak for mak in cars.makes"
                                ng-model="cars.selected.make" ng-change="cars.getModels()">
                            {{mak}}
                        </select>
                        <select ng-hide="cars.selected.startYears" ng-options="mak for mak in cars.makes"
                                ng-model="cars.selected.make" ng-change="cars.getYears()">
                            {{mak}}

                        </select>
                    </div>
                    <div class="col-xs-2 margin-b-5">
                        <p class="btn btn-lg btn-primary" style="width:100%; font-size:large; font-weight:bold;">Model</p>
                        <select ng-options="mod for mod in cars.models" ng-model="cars.selected.model"
                                ng-change="cars.getTrims()">
                            {{mod}}
                        </select>
                    </div>
                    <div class="col-xs-2 margin-b-5">
                        <p class="btn btn-lg btn-primary" style="width:100%; font-size:large; font-weight:bold;">Trim</p>
                        <select ng-options="t for t in cars.trims" ng-model="cars.selected.trim"
                                ng-change="cars.getCars()">
                            {{t}}
                        </select>
                    </div>
                    <div class="col-xs-4 margin-b-5">
                    </div>
                </div>

                <br />
                

                <script type="text/ng-template" id="carModal.html">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            {{cm.car.car.model_year}} {{cm.car.car.make_display}} {{cm.car.car.model_name}} {{cm.car.car.model_trim}}
                            <button class="pull-right btn btn-default" ng-click="cm.cancel()">X</button>
                        </h3>

                        <!--'<img src="{{cm.car.image}}" alt="Car Picture" style="width:304px;height:228px;">';-->

                    </div>

                    <!--/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */-->

                    <uib-accordion cm.close-others="oneAtATime">
                        <uib-accordion-group heading="Photo" is-open="cm.status.isFirstOpen" is-disabled="cm.status.isFirstDisabled" panel-class="panel-info">
                            <!--This content is straight in the template.-->
                            <img src="{{cm.car.image}}" alt="Car Picture" style="width:304px;height:228px;">';
                        </uib-accordion-group>
                        <!--<uib-accordion-group heading="{{cm.group.title}}" ng-repeat="group in groups">
                        {{cm.group.content}}
                    </uib-accordion-group>
                    <uib-accordion-group heading="Dynamic Body Content">
                        <p>The body of the uib-accordion group grows to fit the contents</p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                        <div ng-repeat="item in items">{{item}}</div>
                    </uib-accordion-group>-->


                        <uib-accordion-group heading="Class &amp Body" panel-class="panel-info">
                            <div class="row">
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <!--<li><b>Year: </b>{{cm.car.car.model_year}}</li>
                                    <li><b>Make: </b>{{cm.car.car.make_display}}</li>
                                    <li><b>Model: </b>{{cm.car.car.model_name }}</li>
                                    <li><b>Trim: </b>{{cm.car.car.model_trim}}</li>-->
                                        <li><b>Body: </b>{{cm.car.car.body_style}}</li>
                                        <li><b>Drive: </b>{{cm.car.car.drive_type}}</li>
                                        <li><b>Seats: </b>{{cm.car.car.seats}}</li>
                                        <li><b>Sold in USA?: </b>{{cm.car.car.sold_in_us | yesFor1}}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <li><b>Length (in): </b>{{cm.car.car.length_mm | divideBy:25.4 }}</li>
                                        <li><b>Width (in): </b>{{cm.car.car.width_mm | divideBy:25.4 }}</li>
                                        <li><b>Height (in): </b>{{cm.car.car.height_mm  | divideBy:25.4}}</li>
                                        <li><b>Wheelbase (in): </b>{{cm.car.car.wheelbase | divideBy:25.4 }}</li>
                                        <li><b>Weight (lbs): </b>{{cm.car.car.weight_kg | multiplyBy:2.2 | number:0}}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <li><b>Miles per Gallon City: </b>{{cm.car.car.lkm_city | inverseX:235.22 }}</li>
                                        <li><b>MPG Highway: </b>{{cm.car.car.lkm_hwy | inverseX:235.22}}</li>
                                        <li><b>MPG Mixed: </b>{{cm.car.car.lkm_mixed | inverseX:235.22}}</li>
                                        <li><b>Fuel Tank (gals): </b>{{cm.car.car.fuel_capacity_l | divideBy:3.785}}</li>
                                        <li><b>CO2: </b>{{cm.car.car.co2}}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 margin-b-5">
                                    <li><b>Database Id #: </b>{{cm.car.car.id}}</li>
                                </div>
                            </div>
                        </uib-accordion-group>


                        <uib-accordion-group heading="Engine &amp Specifications" panel-class="panel-info">
                            <div class="row">
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <li><b>Type: </b>{{cm.car.car.engine_type}}</li>
                                        <li><b>Transmission: </b>{{cm.Car.transmission_type}}</li>
                                        <li><b>Position: </b>{{cm.car.car.engine_position}}</li>
                                        <li><b>Fuel: </b>{{cm.car.car.engine_fuel}}</li>

                                    </ul>
                                </div>
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <li><b>Bore mm: </b>{{cm.car.car.engine_bore_mm}}</li>
                                        <li><b>Displacement cc: </b>{{cm.car.car.engine_cc | number:0}}</li>
                                        <li><b>Compression: </b>{{cm.car.car.engine_compression}}</li>
                                        <li><b># Cylinders: </b>{{cm.car.car.engine_num_cyl}}</li>
                                        <li><b>Valves//cyl: </b>{{cm.car.car.engine_valves_per_cyl}} </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <li><b>Power ps: </b>{{cm.car.car.engine_power_ps}}  </li>
                                        <li><b>Power rpm: </b>{{cm.car.car.engine_power_rpm | number:0}}</li>
                                        <li><b>Stroke mm: </b>{{cm.car.car.engine_stroke_mm}}</li>
                                        <li><b>Torque nm: </b>{{cm.car.car.engine_torque_nm}}</li>
                                        <li><b>Torque rmp: </b>{{cm.car.car.engine_torque_rpm| number:0}}  </li>
                                    </ul>
                                </div>
                                <div class="col-xs-3 margin-b-5">
                                    <ul>
                                        <li><b>Top Speed (mph):</b>{{cm.car.car.top_speed_kph | divideBy:1.61}}</li>
                                        <li><b>0 to 60mph (secs):</b>{{cm.car.car.zero_to_100_kph}}</li>
                                    </ul>
                                </div>
                            </div>
                        </uib-accordion-group>


                        <uib-accordion-group heading="Recalls: {{cm.car.recalls.Count}} " panel-class="panel-info">
                            <div ng-repeat="c in cm.car.recalls.Results">
                                <br />
                                <b> Date: </b> {{c.ReportReceivedDate}}
                                <b>NTHSA #</b> {{c.NHTSACampaignNumber}} <br />
                                <b>Component:</b> {{c.Component}} 
                                <!--<button class="btn btn-lg btn-primary" name="startYears" ng-model=""
                                    ng-click="" ng-value="true" style="display:inline; height:50%;">
                                Details
                            </button>-->
                                <!--<span class="btn btn-lg btn-primary">Click for Details:</span> <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />-->

                                <input type="checkbox" class="btn btn-lg btn-primary" ng-model="checked" aria-label="Toggle ngShow"> Details</input>


                                <br />
                                <div class="check-element animate-hide" ng-show="checked">
                                    <!--<span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.-->

                                    <b>Summary:</b> {{c.Summary}}<br />
                                    <b>Consequence:</b> {{c.Conequence}}<br />
                                    <b>Remedy</b> {{c.Remedy}}<br /><br />

                                </div>


                            </div>
                        </uib-accordion-group>



                    </uib-accordion>

                    <!--/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */-->



                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="cm.ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cm.cancel()">Cancel</button>
                    </div>
                </script>


            </div>
        </div>
    <!-- /.container-->

    <!--/. ng-controller-->

    <footer>

        <div class="info-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-sm-4"><span class="ic-fo icon-phone"></span><span> +1 941 920 3139</span></div>
                        <div class="col-sm-4"><span class="ic-fo icon-envelope"></span><span> tpeara@gmail.com</span></div>
                        <div class="col-sm-4"><span class="ic-fo icon-map-pin"></span><span>+1 828 505 1615</span></div>
                    </div>
                </div>
            </div>
        </div>

    </footer>


</body>
<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-animate.min.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="Scripts/spin.min.js"></script>
<script src="Scripts/angular-spinner.js"></script>
<script src="trNgGrid-master/trNgGrid.js"></script>


<!--<script src="js/jquery.min.js" type="text/javascript"></script>-->
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<script src="js/modernizr.js" type="text/javascript"></script>
<script src="js/jquery.appear.js" type="text/javascript"></script>

<!--slide-->
<script src="js/slide/modernizr.custom.js" type="text/javascript"></script>
<script src="js/slide/classie.js" type="text/javascript"></script>
<script src="js/slide/boxesFx.js" type="text/javascript"></script>

<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>

<!--Carousel Testimonial-->
<script src="js/owl_carousel/owl.carousel.js" type="text/javascript"></script>
<!--Porfolio-->
<script src="js/gallery/jquery.fancybox.js" type="text/javascript"></script>
<script src="js/gallery/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>

<!-- Filter Images-->
<script src="js/isotope.js" type="text/javascript"></script>

<script src="js/script.js" type="text/javascript"></script>

<!--<script src="App/parseJson.js"></script>-->
<script src="App/app.js"></script>
<script src="App/carSvc.js"></script>
<script src="App/carFrontEndCtrl.js"></script>
<script src="App/loadingService.js"></script>
<!---------------------------->

</html>