<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Car Finder</title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="trNgGrid-master/trNgGrid.css" rel="stylesheet" />
    <link href="css/carFinder.css" rel="stylesheet" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>

<body ng-app="carApp" class="container ng-cloak" style="border:0;">

    <div ng-controller="carCtrl as cars">
        <!--<button ng-click="{{cars.startYears}}"> Start with Year or Make?</button>
        <form name="myForm" ng-controller="ExampleController">
            <label>
                <input type="radio" ng-model="cars.startYears" value="true">
                Search Years
            </label><br />
            <label>
                <input type="radio" ng-model="cars.startYears" value="false">
                Search Makes
            </label><br />
            
            <tt>color = {{cars.startYears | json}}</tt><br />
        </form>-->
        
        <select ng-options="y for y in cars.years" ng-model="cars.selected.year" ng-change="cars.getMakes()">
            {{y}}
        </select>
        <select ng-options="mak for mak in cars.makes" ng-model="cars.selected.make" ng-change="cars.getModels()">
            {{mak}}
        </select>
        <select ng-options="mod for mod in cars.models" ng-model="cars.selected.model" ng-change="cars.getTrims()">
            {{mod}}
        </select>
        <select ng-options="t for t in cars.trims" ng-model="cars.selected.trim" ng-change="cars.getCars()">
            {{t}}
        </select>
        <br />
        
        
        <table tr-ng-grid="" items="cars.cars" page-items="10">
            <thead>
                <tr>
                    <th field-name="model_year" display-name="Year"></th>
                    <th field-name="make_display"></th>
                    <th field-name="model_name" display-name="Model"></th>
                    <th field-name="model_trim"            display-name="Trim"></th>
                    <th field-name="engine_power_ps" display-name="Power PS"></th>
                    <th field-name="engine_num_cyl" display-name="Cylinders"</th>
                    <th field-name="lkm_mixed" display-name="KPG"></th>
                    <th field-name="top_speed_kph" display-name="Top Speed Kph"></th>
                    <th field-name="zero_to_100_kph" display-name="0 to 100k secs"></th>
                    <th field-name="weight_kg" display-name="Weight Kg"></th>
                    <th field-name="sold_in_us" display-name="In USA?"></th>

                </tr>
                </thead>
            <tbody>
                <tr>
                    <td><button ng-click="cars.open(gridItem.id)"> Info</button></td>
                    
                </tr>
            </tbody>
        </table>

      
            <script type="text/ng-template" id="carModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">
                        {{cm.car.car.model_year}} {{cm.car.car.make_display}} {{cm.car.car.model_name}} 
                        <button class="pull-right btn btn-default" ng-click="cm.cancel()">X</button>
                    </h3>
                    
                    '<img src="{{cm.car.image}}" alt="Car Picture" style="width:304px;height:228px;">';
                    
                </div>
                <div class="modal-body">
                    <h2> in the modal</h2>

                    <p>Model Name {{cm.car.car.model_name}}</p>

                    <!--<table tr-ng-grid="" items="cars.cars" page-items="10">
                    <thead>
                        <tr>
                            <th field-name="model_year" display-name="Year"></th>
                            <th field-name="make"></th>
                            <th field-name="model_name" display-name="Model"></th>
                            <th field-name="model_trim" display-name="Trim"></th>
                            <th field-name="engine_power_ps" display-name="Power PS"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button ng-click="cars.open(gridItem.id)"> Info</button></td>
                        </tr>
                    </tbody>
                </table>-->

                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" ng-click="cm.ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cm.cancel()">Cancel</button>
                    <p id="recallData">Number of recalls: {{cm.car.recalls.Count}}</p>
                </div>
            </script>
        

        <span style="display:inline">

        </span>

        <h2>Images</h2>
        <div id="carPics"></div>

        <h2>NHTSA Data</h2>
        <div id="recallData"></div>
    </div>

</body>

<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="trNgGrid-master/trNgGrid.js"></script>
<script src="App/app.js"></script>
<!--<script src="App/fakeSvc.js"></script>-->
<script src="App/carSvc.js"></script>
<script src="App/carFrontEndCtrl.js"></script>

</html>
