<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <title>Messing Around app</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/carFinder.css" rel="stylesheet" />
</head>

<body class="container">

    <p><i>Best viewed in pop-out mode to see location changes. Click blue button on the right.</i></p>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Quick Start</a>
            <ul class="nav">
                <li><a ui-sref="route1">Route 1</a></li>
                <li><a ui-sref="route2">Route 2</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="well" ui-view></div>
        </div>
    </div>

    <div ui-view></div>
    <!-- We'll also add some navigation: -->
    <a ui-sref="state1">State 1</a>

    <a ui-sref="state2">State 2</a>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="Scripts/angular.js"></script>
<!--<script src="Scripts/AngularUI/ui-router.min.js"></script>-->
<script src="Scripts/angular-ui-router.min.js"></script>
<script src="App/app.js"></script>

<!--<script src="App/cleanFunApp.js"></script>-->
<!--<script src="./Scripts/CarFinder.js"></script>-->
<!--<section>
    <p>
         <label for="year">Year:</label>
         <input type="text" id="year" readonly style="border:0; color:#f6931f; font-weight:bold;">
     </p>
     <div id="slideYears" style="height:10px; width:60%"></div>

     <p>
         <label for="make">Make:</label>
         <input type="text" id="make" readonly style="border:0; color:#f6931f; font-weight:bold;">
     </p>
     <div id="slideMakes" style="height:10px; width:60%"></div>

     <br />
     <div id="dropdownModels">
         <label for="model">Model:</label>
         <select id="model">
             <option>loading</option>
         </select>
     </div>

     <p id="modelChoice">Waiting</p>

     <div id="dropdownTrims">
         <label for="trim">Trim:</label>
         <select id="trim">
             <option>loading</option>
         </select>
     </div>


     <p id="trimChoice">Waiting</p>

     <div id="newId">
         <label for="idChoice">id number:</label>
         <p id="idChoice"></p>
     </div>

     <h2>Images</h2>
     <div id="carPics"></div>

     <h2>NHTSA Data</h2>
     <div id="recallData"></div>
 </section>
    -->
<!--
<body data-ng-app="cleanFunApp" class="container" style="border:0;">
    <div ng-controller="cleanFunCtrl as cf" ng-cloak>
        <h1>Hello Angular  {{100+200}}</h1>
        <h3>Name {{cf.name}} is here!</h3>
        <input type="text" ng-model="cf.name" />
        <br />
        <div style="color: {{cf.selectedColor}}">
            {{cf.time | date:'medium'}}
        </div>
        <br />
        <button ng-click="cf.click()">Red</button>
        <button ng-click="cf.selectedColor='green'">Green</button>
        <button ng-click="cf.selectedColor='blue'">Blue</button>
        <div ng-repeat="n in cf.names">
            {{n}}
        </div>
        <select ng-options="a for a in cf.names" ng-model="cf.name">
            {{a}}
        </select>
    </div> -->


</html>

